In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [4]:
data = pd.read_csv("D:/aakansha[f]/Aakanksha/pendrive_hp_2/datasets/annclassification/annclassification/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# drop irrelevant features
data = data.drop(['RowNumber','CustomerId','Surname'], axis = 1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# encode categorical features
label_encoder_gender = LabelEncoder()
data['Gender']= label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [ ]:
geo_encoder.toarray()

In [8]:
onehot_encoder_geo.get_feature_names_out(['Geography'])
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(),columns = onehot_encoder_geo.get_feature_names_out(['Geography']) )
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
# combine  one hot encoded features with original data
data = pd.concat([data.drop('Geography',axis =1),geo_encoder_df], axis =1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
# save the encoders and scalar
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)
with open('onehot_encoder_geo.pkl',"wb") as file:
    pickle.dump(onehot_encoder_geo,file)

In [11]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
x = data.drop('Exited',axis =1)
y = data['Exited']

## split data in train and test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

# scale the features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [13]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [14]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [15]:
# ANN Implementation
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks  import EarlyStopping,TensorBoard
import datetime

In [17]:
x_train.shape[1]

12

In [21]:
# Build ANN model
model = Sequential([
    Dense(64, activation = 'relu', input_shape = (x_train.shape[1],)), # 1st hl- connected to input layer
    Dense(32, activation = 'relu'),
    Dense(1, activation = 'sigmoid') # output layer
])

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [ ]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [28]:
## compile model
model.compile(optimizer = "adam",loss = "binary_crossentropy", metrics = ['accuracy'])

In [31]:
# set up tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir = log_dir, histogram_freq=1)

In [32]:
# Set up early stopping
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience=5, restore_best_weights = True)

In [33]:
history = model.fit(x_train, y_train, validation_data = (x_test,y_test), epochs=100,
                    callbacks = [tensorflow_callback, early_stopping_callback]
                    )

Epoch 1/100
250/250 [==============================] - 23s 52ms/step - loss: 0.4456 - accuracy: 0.8054 - val_loss: 0.3880 - val_accuracy: 0.8320
Epoch 2/100
250/250 [==============================] - 99s 396ms/step - loss: 0.3753 - accuracy: 0.8464 - val_loss: 0.3537 - val_accuracy: 0.8540
Epoch 3/100
250/250 [==============================] - 56s 224ms/step - loss: 0.3511 - accuracy: 0.8580 - val_loss: 0.3488 - val_accuracy: 0.8595
Epoch 4/100
250/250 [==============================] - 46s 185ms/step - loss: 0.3445 - accuracy: 0.8564 - val_loss: 0.3477 - val_accuracy: 0.8560
Epoch 5/100
250/250 [==============================] - 80s 318ms/step - loss: 0.3391 - accuracy: 0.8601 - val_loss: 0.3461 - val_accuracy: 0.8580
Epoch 6/100
250/250 [==============================] - 45s 177ms/step - loss: 0.3352 - accuracy: 0.8622 - val_loss: 0.3447 - val_accuracy: 0.8630
Epoch 7/100
250/250 [==============================] - 50s 200ms/step - loss: 0.3316 - accuracy: 0.8631 - val_loss: 0.3422 - val_accuracy: 0.8555
Epoch 8/100
250/250 [==============================] - 26s 102ms/step - loss: 0.3302 - accuracy: 0.8641 - val_loss: 0.3448 - val_accuracy: 0.8535
Epoch 9/100
250/250 [==============================] - 39s 157ms/step - loss: 0.3280 - accuracy: 0.8639 - val_loss: 0.3472 - val_accuracy: 0.8545
Epoch 10/100
250/250 [==============================] - 56s 226ms/step - loss: 0.3258 - accuracy: 0.8666 - val_loss: 0.3475 - val_accuracy: 0.8580
Epoch 11/100
250/250 [==============================] - 58s 233ms/step - loss: 0.3245 - accuracy: 0.8656 - val_loss: 0.3454 - val_accuracy: 0.8550
Epoch 12/100
250/250 [==============================] - 63s 251ms/step - loss: 0.3219 - accuracy: 0.8677 - val_loss: 0.3403 - val_accuracy: 0.8565
Epoch 13/100
250/250 [==============================] - 78s 308ms/step - loss: 0.3201 - accuracy: 0.8679 - val_loss: 0.3409 - val_accuracy: 0.8600
Epoch 14/100
250/250 [==============================] - 23s 92ms/step - loss: 0.3179 - accuracy: 0.8683 - val_loss: 0.3370 - val_accuracy: 0.8615
Epoch 15/100
250/250 [==============================] - 14s 55ms/step - loss: 0.3165 - accuracy: 0.8679 - val_loss: 0.3411 - val_accuracy: 0.8580
Epoch 16/100
250/250 [==============================] - 9s 37ms/step - loss: 0.3150 - accuracy: 0.8700 - val_loss: 0.3434 - val_accuracy: 0.8595
Epoch 17/100
250/250 [==============================] - 14s 56ms/step - loss: 0.3140 - accuracy: 0.8711 - val_loss: 0.3397 - val_accuracy: 0.8590
Epoch 18/100
250/250 [==============================] - 10s 41ms/step - loss: 0.3118 - accuracy: 0.8698 - val_loss: 0.3393 - val_accuracy: 0.8605
Epoch 19/100
250/250 [==============================] - 15s 61ms/step - loss: 0.3105 - accuracy: 0.8694 - val_loss: 0.3410 - val_accuracy: 0.8615

In [36]:
# Save model in HDF5 format
model.save("my_model.h5")

In [42]:
# load Tensorflow Extension
%load_ext tensorboard
%tensorboard --logdir logs/fit20250914-194228

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 26416), started 0:12:00 ago. (Use '!kill 26416' to kill it.)

In [43]:
!kill 26416

'kill' is not recognized as an internal or external command,
operable program or batch file.

In [41]:
%reload_ext tensorboard

In [45]:
import datetime
from tensorflow.keras.callbacks import TensorBoard

# New log directory for fresh run
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

# Training with callback
history = model.fit(
    x_train, y_train,
    validation_data=(x_test, y_test),
    epochs=10,
    callbacks=[tensorboard_callback]
)

Epoch 1/10
250/250 [==============================] - 7s 26ms/step - loss: 0.3161 - accuracy: 0.8696 - val_loss: 0.3425 - val_accuracy: 0.8580
Epoch 2/10
250/250 [==============================] - 4s 15ms/step - loss: 0.3159 - accuracy: 0.8691 - val_loss: 0.3391 - val_accuracy: 0.8595
Epoch 3/10
250/250 [==============================] - 3s 13ms/step - loss: 0.3136 - accuracy: 0.8674 - val_loss: 0.3425 - val_accuracy: 0.8535
Epoch 4/10
250/250 [==============================] - 3s 13ms/step - loss: 0.3124 - accuracy: 0.8684 - val_loss: 0.3417 - val_accuracy: 0.8585
Epoch 5/10
250/250 [==============================] - 3s 12ms/step - loss: 0.3104 - accuracy: 0.8690 - val_loss: 0.3424 - val_accuracy: 0.8590
Epoch 6/10
250/250 [==============================] - 3s 13ms/step - loss: 0.3095 - accuracy: 0.8709 - val_loss: 0.3444 - val_accuracy: 0.8575
Epoch 7/10
250/250 [==============================] - 3s 11ms/step - loss: 0.3081 - accuracy: 0.8710 - val_loss: 0.3430 - val_accuracy: 0.8605
Epoch 8/10
250/250 [==============================] - 3s 12ms/step - loss: 0.3068 - accuracy: 0.8733 - val_loss: 0.3443 - val_accuracy: 0.8555
Epoch 9/10
250/250 [==============================] - 5s 19ms/step - loss: 0.3065 - accuracy: 0.8710 - val_loss: 0.3413 - val_accuracy: 0.8580
Epoch 10/10
250/250 [==============================] - 5s 21ms/step - loss: 0.3037 - accuracy: 0.8729 - val_loss: 0.3452 - val_accuracy: 0.8570

In [46]:
%reload_ext tensorboard
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 21164), started 0:50:00 ago. (Use '!kill 21164' to kill it.)