In [28]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [29]:
# load trained model, scalr pickle file, one hot encoder
model = load_model('my_model.h5')

In [30]:
# load encoder
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geo.pkl', 'rb') as file:
    label_encoder_geo =  pickle.load(file)
with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [31]:
import pandas as pd

input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance':60000,
    'NumofProducts':2,
    'HasCrCard':1,
    'IsActiveNumber':1,
    'EstimateSalary':50000
}

# input_df = pd.DataFrame(input_data)

In [32]:
geo_encoded = label_encoder_geo.transform([[input_data[ 'Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns= label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\Matlab1\anaconda3\envs\myenv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [33]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveNumber,EstimateSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [34]:
# Encode categorical variables
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveNumber,EstimateSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [35]:
input_df = pd.concat([input_df.drop("Geography", axis=1), geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumofProducts,HasCrCard,IsActiveNumber,EstimateSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [36]:
# Scaling the data
input_scaled = scaler.transform(input_df)
input_scaled

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- EstimateSalary
- IsActiveNumber
- NumofProducts
Feature names seen at fit time, yet now missing:
- EstimatedSalary
- IsActiveMember
- NumOfProducts

In [ ]:
# predict churn
prediction = model.predict(input_scaled)
prediction_prob = prediction[0][0]
print(f"Churn Probability: {prediction_prob:.4f}")

In [ ]:
if prediction_prob > 0.5:
    print("Customer is likely to churn")
else:
    print("Customer is not likely to churn")